meta.foundation-version {
  font-family: "/5.4.5/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

/*Global styling*/
html, body {
  height: 100%;
  font-size:100%;
}
body{
    font-family:'Roboto', sans-serif;
    letter-spacing: .15em;
    background-color:#f8f8f8;
    text-align:center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin-left: 0;
}
li {
  text-decoration: none;
  display: inline-block;
}
a {
  text-decoration: none; 
  color: inherit;
}
a:hover {
  cursor: pointer; 
}

h1 { font-size:100px;
    font-family: 'Kaushan Script', cursive;
  color: #000000;
    font-weight: 200;
  margin-top:0;
    padding-top:150px;
  line-height: 1;
    text-align:center;
}
h2 { font-size: 30px;
     color:#000000;
     letter-spacing: .25em;
     
}
h3 { color:#808080;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: .25em;
} 
h4 { font-size: 40px;
     color:#fff;
     letter-spacing:.25em;
     margin-top:120px;
     margin-bottom:40px;
     text-align:center;
} 
h5 { font-size: 30px;
     color:#000000;
     letter-spacing: .25em;
     text-align:center;
     margin-top:150px;
     margin-bottom:150px;
} 
h6 { font-size: 18px;}


/*Header-section*/
.row{
    margin-top:0px;
}
#main{
  height:100%;
  background: url("http://wallpoper.com/images/00/24/15/58/white-simple_00241558.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 2px #808080;
  -moz-box-shadow: 0 0 10px 2px #808080;
  box-shadow: 0 0 10px 2px #808080;
}
#main nav ul li{
  margin: 5% 4% 5% 4%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

ul li p.nav-name a {
        color: #b8992b;
        font-weight: 200;
        padding-top: 15px;
        margin-top:0px;
        font-size: 15px;
        text-align:center;
 
}
ul li p.nav-name a:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
     transform: scale(1.2);
     color: #fff;

}

#main nav ul li img {
  width: 80px;
}

#main nav ul li:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hero-head{
    margin-top:80px;
}
.hero-head h4 {
    padding-top:40px;
  letter-spacing: .25em;
  color: #b8992b;
}

/*Project-section*/

.project-box {
    height: 250px;
    
}
.grid p{
    font-size:50px;
}

.grid {
    height:450px;
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  height: 450px;
  width: 48%;
  background: #f8f8f8;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

    .grid figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, #808080 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, #808080 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    -moz-transform: translate3d(0,50%,0);
    -ms-transform: translate3d(0,50%,0);
    -o-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #000000;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    -moz-transition: transform 0.35s, color 0.35s;
    -o-transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    margin-bottom:130px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    -o-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    -moz-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    -ms-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    -o-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*About-section*/

.panel{
    margin-top:150px;
}
#about-me{
    -webkit-box-shadow: 0 0 20px 2px #808080;
  -moz-box-shadow: 0 0 20px 2px #808080;
  box-shadow: 0 0 20px 2px #808080;
    margin-top:700px;
    background-color:#f8f8f8;
}
#about-me img{
    margin-top:150px;
    margin-bottom:150px;
    height:450px;
    background-size:cover;
}
#about-me a{
    color:#3085a3;
}
#about-me p{
    text-align:left;
}
#about-me h2{
    text-align:left;
}

/*footer-section*/

#footer {
    height: 550px;
    text-align: center;
    background: url("http://kerriedorman.com/wp-content/uploads/2014/07/free-office-wallpaper-26001-26685-hd-wallpapers.jpg") no-repeat center center fixed;
    background-size: cover;
    -moz-box-shadow: 0 0 10px 2px #808080;
    -webkit-box-shadow: 0 0 10px 2px #808080;
    box-shadow: 0 0 10px 2px #808080;
}
#footer, .contact-me, p, .button, a{
    color:#fff;
}
.contact-me p{
    margin-bottom:50px;
}
.contact-me .button{
    background-color:inherit;
    border: 2px solid #fff;
    text-transform:uppercase;
    padding:20px 60px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
#footer .button:hover {
  background-color: #fff;
  color: #3085a3;
}

#footer .button:focus {
  background-color:#dfdfdf;
  border: 2px solid #dfdfdf;
}


.block {
  padding:100px 0;
}

.section-head{
  text-align: center;
  margin: 0 auto 100px auto;
  width: 60%;

}

.project-header body{
  font-family:'Roboto', sans-serif;
    letter-spacing: .25em;
    background-color:#f8f8f8;
}
.project-header {
  background: url(http://asmithblog.com/wp-content/uploads/2013/10/Clean-Gray-BackGround.jpg) no-repeat center center ; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Lato';
  font-size: 15px;
}

.project-header a{
  color:#b8992b;
}
.project-header a:hover{
  color:#fff;
}

.project-header nav ul li{
  margin: 3% 0 1.7% 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

    .project-header nav ul li:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

.project-header nav ul li img {
  width: 65px;
  margin:0 3em;
}

.project-header p.nav-name {
  font-size: 20px;
}

.section-head h3{
  color:#808080;
  font-weight: 100;
  font-size: 45px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: .25em;
}

.section-head p{
  font-family: 'Lato';
  letter-spacing: .15em;
}

h6.role-desc {
  text-transform: uppercase;
  font-weight: 800;
  color:#000000;
  letter-spacing: .15em;
}

.project-view {
  font-weight: 600;
  color: #b8992b;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-top: 30px;
  -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -mz-transition: all .2s ease-in-out;
  transition:all .2s ease-in-out;

}

.block-1{ 
  text-align: center;
  margin-bottom: 5em;
}

.block-1 img{ 
  margin-bottom: 2em;
}

.block-image {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.block-image:hover {
  opacity:.7;
}

.project-desc {
  padding: 0 100px;
  color:#808080;
}

.block-header {
  text-transform: uppercase;
  font-weight: 800;
  color:#000000;
  letter-spacing: .25em;
  margin-bottom: 2em;
  text-align: center;
}

.wireframe {
text-align:center;
margin:0 auto;
}

#bottom {
    height: 150px;
    text-align: center;
    background: #000000  no-repeat center center fixed;
    background-size: cover;
    -moz-box-shadow: 0 0 10px 2px #808080;
    -webkit-box-shadow: 0 0 10px 2px #808080;
    box-shadow: 0 0 10px 2px #808080;
}
#bottom  p{
    color:#fff;
    margin-top:65px;
}